Repository utelecon/utelecon.github.io, pull requests merged in 2024-07, with the labels that each got.

#1076 UTOL コースグループ機能
  src/pages/utol/lecturers/settings/course_group/explain.drawio.svg
  src/pages/utol/lecturers/settings/course_group/explain.png
  src/pages/utol/lecturers/settings/course_group/index.md
  src/pages/utol/lecturers/settings/course_group/index.mdx
  src/pages/utol/lecturers/settings/course_group/menu1.png
  src/pages/utol/lecturers/settings/course_group/menu2.png
  src/pages/utol/lecturers/settings/course_group/reg.png
  src/pages/utol/lecturers/settings/course_group/remove.png
  src/pages/utol/lecturers/settings/course_group/unreg.png
Labels: utol

#1116 create boxes for EoL of www.ecc
  src/components/README.md
  src/components/en/WwweccEol.astro
  src/components/ja/WwweccEol.astro
  src/pages/eccs/defects/index.mdx
  src/pages/eccs/features/printing/index.mdx
  src/pages/eccs/features/ras/index.mdx
  src/pages/eccs/features/software/index.mdx
  src/pages/eccs/features/software/office/index.mdx
  src/pages/eccs/features/ssh/index.mdx
  src/pages/eccs/features/webdav/index.mdx
  src/pages/eccs/index.mdx
  src/pages/eccs/keychain/index.mdx
  src/pages/eccs/misc/index.mdx
  src/pages/eccs/misc/lock/index.mdx
  src/pages/eccs/overview/facilities/index.mdx
  src/pages/eccs/overview/guest-account/index.mdx
  src/pages/eccs/overview/precautions/index.mdx
  src/pages/eccs/overview/right-application/index.mdx
  src/pages/eccs/overview/spec/index.mdx
  src/pages/eccs/overview/usage-mac/index.mdx
  src/pages/eccs/overview/usage-windows/index.mdx
  src/pages/eccs/support/index.mdx
  src/pages/en/eccs/index.mdx
  src/pages/en/google/index.mdx
  src/pages/google/index.mdx
Labels: www.ecc

#1110 Make `TrailingSlash` integration work on Windows
  src/lib/TrailingSlashIntegration.ts
Labels: web-development

#1066 utol出席機能ページ修正第二弾
  src/pages/utol/lecturers/attendances/img/attcheck.png
  src/pages/utol/lecturers/attendances/img/attcheck_DL_ch.png
  src/pages/utol/lecturers/attendances/img/attcheck_DL_ed.png
  src/pages/utol/lecturers/attendances/img/attcheck_DL_pw.png
  src/pages/utol/lecturers/attendances/img/attcheck_UL_ed.png
  src/pages/utol/lecturers/attendances/img/attcheck_UL_li.png
  src/pages/utol/lecturers/attendances/img/attcheck_UL_pw.png
  src/pages/utol/lecturers/attendances/img/attform.png
  src/pages/utol/lecturers/attendances/img/attman.png
  src/pages/utol/lecturers/attendances/img/attmanmenu.png
  src/pages/utol/lecturers/attendances/img/attmanmenu2.png
  src/pages/utol/lecturers/attendances/img/attmanmenu3.png
  src/pages/utol/lecturers/attendances/img/dispattinfo.png
  src/pages/utol/lecturers/attendances/img/format.png
  src/pages/utol/lecturers/attendances/img/formatdownload.png
  src/pages/utol/lecturers/attendances/img/formatupload.png
  src/pages/utol/lecturers/attendances/img/hamburger.png
  src/pages/utol/lecturers/attendances/img/otp.png
  src/pages/utol/lecturers/attendances/img/otpin.png
  src/pages/utol/lecturers/attendances/img/settings.png
  src/pages/utol/lecturers/attendances/index.mdx
Labels: utol

#1117 Add english version of utol notices
  src/data/notice.yml
  src/pages/en/notice/2024/0426-utol-attendance.md
  src/pages/en/notice/2024/0522-utol-notification-line.md
Labels: utol

#1106 add flex-grow to #content
  src/layouts/Layout.astro
Labels: web-development

#1104 UTOL lecturers settings [en]
  src/pages/en/utol/lecturers/settings/_img/contents-reuse-step1.png
  src/pages/en/utol/lecturers/settings/_img/create-label-button.png
  src/pages/en/utol/lecturers/settings/_img/create-label-dialog.png
  src/pages/en/utol/lecturers/settings/_img/edit-label.png
  src/pages/en/utol/lecturers/settings/_img/label-dd.png
  src/pages/en/utol/lecturers/settings/_img/lecturer-coursetop.png
  src/pages/en/utol/lecturers/settings/_img/lecturer-names-coursetop.png
  src/pages/en/utol/lecturers/settings/_img/lecturer-names-timetable.png
  src/pages/en/utol/lecturers/settings/_img/lecturer-names.png
  src/pages/en/utol/lecturers/settings/_img/message-and-attendance.png
  src/pages/en/utol/lecturers/settings/_img/online-lecture-enter-link.png
  src/pages/en/utol/lecturers/settings/_img/online-lecture.png
  src/pages/en/utol/lecturers/settings/_img/sidemenu.png
  src/pages/en/utol/lecturers/settings/index.md
  src/pages/en/utol/lecturers/settings/index.mdx
  src/pages/en/utol/markup/index.mdx
Labels: utol

#1080 add /utol/lecturers/forums
  src/pages/utol/lecturers/forums/check-button.png
  src/pages/utol/lecturers/forums/course-top-add.png
  src/pages/utol/lecturers/forums/course-top-operation.png
  src/pages/utol/lecturers/forums/course-top-theme.png
  src/pages/utol/lecturers/forums/delete-theme.png
  src/pages/utol/lecturers/forums/download-file.png
  src/pages/utol/lecturers/forums/download-post-status.png
  src/pages/utol/lecturers/forums/download-thread-messages.png
  src/pages/utol/lecturers/forums/index.mdx
  src/pages/utol/lecturers/forums/join-theme.png
  src/pages/utol/lecturers/forums/message-edit-delete.png
  src/pages/utol/lecturers/forums/post-message.png
  src/pages/utol/lecturers/forums/register-new-thread-button.png
  src/pages/utol/lecturers/forums/register-new-thread-check.png
  src/pages/utol/lecturers/forums/register-new-thread.png
  src/pages/utol/lecturers/forums/register-theme-screen-check.png
  src/pages/utol/lecturers/forums/register-theme-screen.png
  src/pages/utol/lecturers/forums/send-message.png
  src/pages/utol/lecturers/forums/thread-edit-delete.png
  src/pages/utol/lecturers/forums/thread-operation.png
  src/pages/utol/lecturers/forums/thread-title-link.png
  src/pages/utol/lecturers/forums/view-status.png
Labels: utol
