Repository utelecon/utelecon.github.io, pull requests merged in 2024-05, with the labels that each got.

#1065 util.tsを廃止してglobを利用する
  src/lib/CleanupIntegration.ts
  src/lib/RedirectIntegration.ts
  src/lib/util.ts
Labels: web-development

#1024 Add /en/utol/{lecturers,students}
  src/pages/en/utol/_icons
  src/pages/en/utol/_timetable/Timetable.mdx
  src/pages/en/utol/_timetable/calendar.png
  src/pages/en/utol/_timetable/mode-buttons.png
  src/pages/en/utol/_timetable/sidemenu.png
  src/pages/en/utol/_timetable/timetable-lecturer.png
  src/pages/en/utol/_timetable/timetable-student.png
  src/pages/en/utol/index.mdx
  src/pages/en/utol/lecturers/assignments/index.mdx
  src/pages/en/utol/lecturers/attendances/index.mdx
  src/pages/en/utol/lecturers/forums/index.mdx
  src/pages/en/utol/lecturers/index.mdx
  src/pages/en/utol/lecturers/information/index.mdx
  src/pages/en/utol/lecturers/materials/index.mdx
  src/pages/en/utol/lecturers/messages/index.mdx
  src/pages/en/utol/lecturers/quizzes/index.mdx
  src/pages/en/utol/lecturers/settings/course_group/index.mdx
  src/pages/en/utol/lecturers/settings/course_participants/index.mdx
  src/pages/en/utol/lecturers/settings/index.mdx
  src/pages/en/utol/lecturers/settings/user_groups/index.mdx
  src/pages/en/utol/lecturers/surveys/index.mdx
  src/pages/en/utol/notification/index.mdx
  src/pages/en/utol/students/_img/attendance.png
  src/pages/en/utol/students/_img/label.png
  src/pages/en/utol/students/_img/no_submission_course.png
  src/pages/en/utol/students/_img/no_submission_individually.png
  src/pages/en/utol/students/_img/notice_box.png
  src/pages/en/utol/students/_img/notice_list.png
  src/pages/en/utol/students/_img/quiz.png
  src/pages/en/utol/students/_img/sidebar.png
  src/pages/en/utol/students/_img/task.png
  src/pages/en/utol/students/_img/upper_bar.png
  src/pages/en/utol/students/course_registration/index.mdx
  src/pages/en/utol/students/course_search/index.mdx
  src/pages/en/utol/students/index.mdx
  src/pages/en/utol/students/messages/index.mdx
Labels: utol

#1057 add /utol/lecturers/settings/course_participants/
  src/pages/utol/lecturers/settings/course_participants/confirm-delete.png
  src/pages/utol/lecturers/settings/course_participants/confirm-registration.png
  src/pages/utol/lecturers/settings/course_participants/confirm.png
  src/pages/utol/lecturers/settings/course_participants/delete.png
  src/pages/utol/lecturers/settings/course_participants/download-format.png
  src/pages/utol/lecturers/settings/course_participants/index.md
  src/pages/utol/lecturers/settings/course_participants/index.mdx
  src/pages/utol/lecturers/settings/course_participants/menu.png
  src/pages/utol/lecturers/settings/course_participants/operation.png
  src/pages/utol/lecturers/settings/course_participants/search-result.png
  src/pages/utol/lecturers/settings/course_participants/search.png
  src/pages/utol/lecturers/settings/course_participants/selected.png
  src/pages/utol/lecturers/settings/course_participants/upload-file.png
  src/pages/utol/students/course_registration/index.md
Labels: utol

#1083 fix title notation
  src/pages/google/group/index.mdx
  src/pages/google/youtube/index.mdx
Labels: www.ecc
