Repository utelecon/utelecon.github.io, pull requests merged in 2024-11, with the labels that each got.

#1216 implement rss-to-twitter workflow
  .github/workflows/rss-to-twitter.yml
  src/components/pages/rss.ts
Labels: web-development

#1185 refactor: eliminate index.mdx
  src/components/en/systems/eccs/Login.mdx
  src/components/en/systems/eccs/index.mdx
  src/components/en/systems/eccs_cloud_email/index.mdx
  src/components/en/systems/microsoft/index.mdx
  src/components/en/systems/utas/index.mdx
  src/components/en/systems/utokyo_account/index.mdx
  src/components/en/systems/utokyo_wifi/index.mdx
  src/components/en/systems/utol/index.mdx
  src/components/en/systems/zoom/index.mdx
  src/components/ja/systems/eccs/Login.mdx
  src/components/ja/systems/eccs/index.mdx
  src/components/ja/systems/eccs_cloud_email/Configure.mdx
  src/components/ja/systems/eccs_cloud_email/index.mdx
  src/components/ja/systems/microsoft/index.mdx
  src/components/ja/systems/utas/index.mdx
  src/components/ja/systems/utokyo_wifi/index.mdx
  src/components/ja/systems/utol/NotificationHelp.mdx
  src/components/ja/systems/utol/index.mdx
  src/components/ja/systems/zoom/JoinApp.mdx
  src/components/ja/systems/zoom/JoinBrowser.mdx
  src/components/ja/systems/zoom/index.mdx
  src/components/utils/Support.astro
  src/pages/en/microsoft/index.mdx
  src/pages/en/oc/index.mdx
  src/pages/en/utokyo_wifi/index.mdx
  src/pages/oc/index.mdx
  src/pages/utokyo_wifi/index.mdx
  src/styles/README.md
Labels: web-development

#1197 「サポート窓口」ページの再構成
  src/pages/en/support/chat.md
  src/pages/en/support/email-form.md
  src/pages/en/support/index.mdx
  src/pages/support/chat.md
  src/pages/support/email-form.md
  src/pages/support/index.mdx
  src/pages/support/online-call.md
  src/styles/components/help-desk.scss
  src/styles/main.scss
Labels: web-development

#1231 add `/utol/notification`
  src/pages/utol/notification/index.mdx
  src/pages/utol/notification/line-auth-code.png
  src/pages/utol/notification/line-desktop-login.png
  src/pages/utol/notification/line-link-confirm.png
  src/pages/utol/notification/line-select-room.png
  src/pages/utol/notification/line-start.png
  src/pages/utol/notification/line-stop-confirm.png
  src/pages/utol/notification/line-stop.png
  src/pages/utol/notification/notification-range-all.png
  src/pages/utol/notification/notification-range-message.png
  src/pages/utol/notification/notification-range-per-course-line-confirm.png
  src/pages/utol/notification/notification-range-per-course-line.png
  src/pages/utol/notification/notification-range-per-course-mail-confirm.png
  src/pages/utol/notification/notification-range-per-course-mail.png
  src/pages/utol/notification/notification-range-per-course-open.png
  src/pages/utol/notification/notification-range-per-course-slack-confirm.png
  src/pages/utol/notification/notification-range-per-course-slack.png
  src/pages/utol/notification/personal-setting-confirm.png
  src/pages/utol/notification/personal-setting-done.png
  src/pages/utol/notification/personal-setting-open-desktop.png
  src/pages/utol/notification/personal-setting-open-mobile.png
  src/pages/utol/notification/slack-app-list.png
  src/pages/utol/notification/slack-start.png
  src/pages/utol/notification/slack-stop.png
  src/pages/utol/notification/slack-ws-detail.png
  src/pages/utol/notification/slack-ws-list.png
  src/pages/utol/notification/slack-ws-search-result.png
  src/pages/utol/notification/slack-ws-search.png
Labels: utol

#1268 UTOL Notification hotfix
  src/pages/slack/join.mdx
  src/pages/utol/notification/index.mdx
  src/pages/utol/notification/slack-ws-detail.png
Labels: utol

#1262 Add utol rule page
  .vscode/settings.json
  src/pages/en/utol/index.mdx
  src/pages/utol/index.mdx
  src/pages/utol/rule/index.md
Labels: utol

#1255 node@22
  .github/workflows/astro.yml
  .github/workflows/netlify.yml
  README.md
  package-lock.json
  package.json
Labels: web-development

#1248 `<details>` 内の `.box` に十分なmarginを与える
  src/styles/margin.scss
Labels: web-development

#1271 fix toc displayed over header menu
  src/layouts/Header/Navigation.astro
  src/layouts/Header/index.astro
  src/layouts/Toc.astro
Labels: web-development

#1261 utol zoomのLTI機能
  src/data/notice.yml
  src/pages/faculty_members/index.mdx
  src/pages/notice/2024/1115-utol-lti-zoom.md
  src/pages/utol/lecturers/lti/index.mdx
  src/pages/utol/lecturers/lti/zoom/index.md
  src/pages/utol/lecturers/lti/zoom/utol_lti.png
  src/pages/utol/lecturers/lti/zoom/utol_lti_setting.png
  src/pages/utol/lecturers/lti/zoom/utol_menu.png
  src/pages/utol/lecturers/lti/zoom/zoom_cloud_recording.png
  src/pages/utol/lecturers/lti/zoom/zoom_cloud_recording_detail.png
  src/pages/utol/lecturers/lti/zoom/zoom_meeting_report.png
  src/pages/utol/lecturers/lti/zoom/zoom_next_meeting.png
  src/pages/utol/lecturers/lti/zoom/zoom_next_meeting_save.png
  src/pages/utol/lecturers/lti/zoom/zoom_next_meeting_start.png
  src/pages/utol/lecturers/lti/zoom/zoom_past_meeting_report.png
  src/pages/utol/students/lti/index.mdx
  src/pages/utol/students/lti/zoom/index.md
  src/pages/utol/students/lti/zoom/utol_lti.png
  src/pages/utol/students/lti/zoom/zoom_cloud_recording.png
  src/pages/utol/students/lti/zoom/zoom_cloud_recording_detail.png
  src/pages/utol/students/lti/zoom/zoom_next_meeting_join.png
Labels: utol

#1276 Add line notify warnings
  src/pages/utol/notification/index.mdx
Labels: utol

#1240 add `/google/misc/localpart/`
  src/pages/google/misc/localpart/index.md
  src/pages/google/misc/localpart/index.mdx
Labels: www.ecc

#1093 Add /eccs/defects/20210302-mac-settings
  src/pages/eccs/defects/20210302-mac-settings.md
Labels: www.ecc

#1098 add /eccs/features/software/
  src/pages/eccs/features/software/index.mdx
Labels: www.ecc

#1054 Add /eccs/features/software/visual-studio
  src/pages/eccs/features/software/visual-studio/index.md
Labels: www.ecc

#1041 Add /eccs/features/software/google-drive
  src/pages/eccs/features/software/google-drive-1.png
  src/pages/eccs/features/software/google-drive-10.png
  src/pages/eccs/features/software/google-drive-11.png
  src/pages/eccs/features/software/google-drive-2.png
  src/pages/eccs/features/software/google-drive-3.png
  src/pages/eccs/features/software/google-drive-4.png
  src/pages/eccs/features/software/google-drive-5.png
  src/pages/eccs/features/software/google-drive-6.png
  src/pages/eccs/features/software/google-drive-7.png
  src/pages/eccs/features/software/google-drive-8.png
  src/pages/eccs/features/software/google-drive-9.png
  src/pages/eccs/features/software/google-drive.md
Labels: www.ecc

#1078 Add /eccs/misc/dotfiles
  src/pages/eccs/misc/dotfiles.md
Labels: www.ecc

#1101 Add /eccs/misc/monitor-brightness
  src/pages/eccs/misc/display-setting-acer-v277.jpg
  src/pages/eccs/misc/display-setting-benq-ew2780.jpg
  src/pages/eccs/misc/monitor-brightness.md
Labels: www.ecc

#1046 Add temporary-account.md
  src/pages/eccs/misc/temporary-account.md
Labels: www.ecc

#1048 add /google/misc/backup/transfer
  src/pages/google/misc/backup/transfer/01.png
  src/pages/google/misc/backup/transfer/02.png
  src/pages/google/misc/backup/transfer/03.png
  src/pages/google/misc/backup/transfer/04.png
  src/pages/google/misc/backup/transfer/05.png
  src/pages/google/misc/backup/transfer/06.png
  src/pages/google/misc/backup/transfer/07.png
  src/pages/google/misc/backup/transfer/08.png
  src/pages/google/misc/backup/transfer/09.png
  src/pages/google/misc/backup/transfer/index.md
Labels: www.ecc

#1072 add /google/misc/automatic-forwarding
  src/pages/google/misc/automatic-forwarding.md
Labels: www.ecc

#1051 add /google/misc/payments
  src/pages/google/misc/payments/index.md
Labels: www.ecc
