Repository utelecon/utelecon.github.io, pull requests merged in 2024-06, with the labels that each got.

#1090 Add slack notification notice
  src/data/notice.yml
  src/pages/notice/2024/0612-utol-notification-slack.md
Labels: utol

#1077 コードブロックのスタイルを明るくする
  astro.config.ts
Labels: web-development

#1059 Update utelecon title
  README.md
  src/layouts/Footer/index.astro
  src/layouts/Header/index.astro
  src/pages/en/faculty_members/index.mdx
  src/pages/en/index.mdx
  src/pages/en/oc/index.mdx
  src/pages/faculty_members/index.mdx
  src/pages/index.mdx
  src/pages/oc/index.mdx
Labels: web-development

#1087 202406 update utol LINE notice
  src/pages/notice/2024/0522-utol-notification-line.md
Labels: utol

#1103 Create ECCS stub pages
  src/pages/eccs/features/ras/index.mdx
  src/pages/eccs/features/software/office/index.mdx
  src/pages/eccs/features/ssh/index.mdx
  src/pages/eccs/features/webdav/index.mdx
  src/pages/eccs/keychain/index.mdx
  src/pages/eccs/misc/lock/index.mdx
  src/pages/eccs/overview/facilities/index.mdx
  src/pages/eccs/overview/guest-account/index.mdx
  src/pages/eccs/overview/precautions/index.mdx
  src/pages/eccs/overview/right-application/index.mdx
  src/pages/eccs/overview/spec/index.mdx
  src/pages/eccs/overview/usage-mac/index.mdx
  src/pages/eccs/overview/usage-windows/index.mdx
  src/pages/eccs/support/index.mdx
  src/pages/google/calendar/index.mdx
  src/pages/google/misc/education-plus/index.mdx
  src/pages/google/misc/localpart/index.mdx
  src/pages/google/misc/lsa/index.mdx
  src/pages/google/misc/name/index.mdx
Labels: www.ecc

#1058 add /utol/lecturers/assignments/
  src/pages/utol/lecturers/assignments/01-settings-01.png
  src/pages/utol/lecturers/assignments/02-settings-02.png
  src/pages/utol/lecturers/assignments/03-settings-entry.png
  src/pages/utol/lecturers/assignments/04-settings-confirm.png
  src/pages/utol/lecturers/assignments/05-edit-entry.png
  src/pages/utol/lecturers/assignments/06-delete.png
  src/pages/utol/lecturers/assignments/07-submission-status-all-entry.png
  src/pages/utol/lecturers/assignments/08-submission-status-all-table.png
  src/pages/utol/lecturers/assignments/09-submission-status-all-per-user.png
  src/pages/utol/lecturers/assignments/10-submission-status-per-assignment-entry.png
  src/pages/utol/lecturers/assignments/11-submission-status-per-assignment-table.png
  src/pages/utol/lecturers/assignments/12-evaluate-on-utol.png
  src/pages/utol/lecturers/assignments/index.mdx
Labels: utol

#1105 Cache `node_modules`
  .github/workflows/astro.yml
  .github/workflows/netlify.yml
Labels: web-development

#1095 add excuse component
  src/components/en/ExcuseForAccuracy.mdx
  src/components/ja/ExcuseForAccuracy.mdx
Labels: www.ecc

#1111 UTOLのボタンのアイコン画像を統一
  src/pages/en/utol/students/index.mdx
  src/pages/utol/_icons/extra_menu.png
  src/pages/utol/lecturers/attendances/index.mdx
  src/pages/utol/lecturers/information/index.mdx
  src/pages/utol/lecturers/settings/course_participants/index.md
  src/pages/utol/lecturers/settings/index.mdx
  src/pages/utol/students/index.mdx
Labels: utol
