Repository utelecon/utelecon.github.io, pull requests merged in 2025-07, with the labels that each got.

#1567 add pages for MATLAB Grader
  src/pages/utol/lecturers/integrations/index.mdx
  src/pages/utol/lecturers/integrations/matlab_grader/button.png
  src/pages/utol/lecturers/integrations/matlab_grader/confirm_1.png
  src/pages/utol/lecturers/integrations/matlab_grader/create_1.png
  src/pages/utol/lecturers/integrations/matlab_grader/create_2.png
  src/pages/utol/lecturers/integrations/matlab_grader/create_3.png
  src/pages/utol/lecturers/integrations/matlab_grader/create_4.png
  src/pages/utol/lecturers/integrations/matlab_grader/grader_1.png
  src/pages/utol/lecturers/integrations/matlab_grader/grader_2.png
  src/pages/utol/lecturers/integrations/matlab_grader/grader_3.png
  src/pages/utol/lecturers/integrations/matlab_grader/index.md
  src/pages/utol/lecturers/integrations/matlab_grader/preparation_1.png
  src/pages/utol/lecturers/integrations/matlab_grader/preparation_2.png
  src/pages/utol/students/integrations/index.mdx
  src/pages/utol/students/integrations/matlab_grader/index.md
  src/pages/utol/students/integrations/matlab_grader/solve_1.png
  src/pages/utol/students/integrations/matlab_grader/solve_2.png
  src/pages/utol/students/integrations/matlab_grader/solve_3.png
Labels: utol

#1439 add: `/google/misc/ceu/`
  src/pages/google/misc/ceu/index.md
Labels: www.ecc

#1482 fix `/eccs/chromeos/`
  src/pages/eccs/chromeos/index.md
Labels: www.ecc

#1595 Add links to matlab grader notice
  src/pages/notice/2024/1011-utol-matlab-grader.md
Labels: utol

#1586 Fix: `/utol/lecturers/forums/`
  src/pages/utol/lecturers/forums/index.mdx
Labels: utol

#1596 Update attendance explanation to add "UTOL cannot remove system attendance"
  src/pages/utol/lecturers/attendances/index.mdx
Labels: utol

#1593 Fix trigger preview
  .github/workflows/netlify.yml
Labels: web-development

#1429 Ignore assets in src/pages/ directory to suppress warning
  astro.config.ts
  package-lock.json
  package.json
  src/lib/CopyAssetIntegration.ts
  src/lib/ignoreassets/README.md
  src/lib/ignoreassets/index.ts
Labels: web-development

#1343 Follow rssdiff-to-twitter#7, rssdiff-to-twitter#8 changes
  .github/workflows/astro.yml
  src/data/notice.yml
Labels: web-development

#1606 Rename image file to avoid routing collision
  src/pages/google/drive/share-top.png
  src/pages/google/drive/share.mdx
Labels: web-development
