Repository utelecon/utelecon.github.io, pull requests merged in 2025-06, with the labels that each got.

#1569 fix `/utol/lecturers/surveys/create`
  src/pages/utol/lecturers/surveys/create-question-info.png
  src/pages/utol/lecturers/surveys/create.mdx
Labels: utol

#1469 add middleware to process external links substituting for ExternalLinksIntegration
  README.md
  astro.config.ts
  package-lock.json
  package.json
  src/lib/ExternalLinksIntegration.ts
  src/middleware/externalLinks.ts
  src/middleware/index.ts
Labels: web-development

#1537 fix `/google/misc/localpart`
  src/pages/google/misc/localpart/index.md
Labels: www.ecc

#1546 Add /en/utol/lecturers/settings/user_groups
  src/pages/en/utol/lecturers/settings/user_groups/assignments.png
  src/pages/en/utol/lecturers/settings/user_groups/assignments_ug_checkboxes.png
  src/pages/en/utol/lecturers/settings/user_groups/browse.png
  src/pages/en/utol/lecturers/settings/user_groups/checkboxes.png
  src/pages/en/utol/lecturers/settings/user_groups/confirm.png
  src/pages/en/utol/lecturers/settings/user_groups/confirm_assignments.png
  src/pages/en/utol/lecturers/settings/user_groups/confirm_del.png
  src/pages/en/utol/lecturers/settings/user_groups/confirm_excel.png
  src/pages/en/utol/lecturers/settings/user_groups/del.png
  src/pages/en/utol/lecturers/settings/user_groups/finished.png
  src/pages/en/utol/lecturers/settings/user_groups/fix.png
  src/pages/en/utol/lecturers/settings/user_groups/format_download.png
  src/pages/en/utol/lecturers/settings/user_groups/index.md
  src/pages/en/utol/lecturers/settings/user_groups/index.mdx
  src/pages/en/utol/lecturers/settings/user_groups/label.png
  src/pages/en/utol/lecturers/settings/user_groups/register_excel.png
  src/pages/en/utol/lecturers/settings/user_groups/register_web.png
  src/pages/en/utol/lecturers/settings/user_groups/sample.png
  src/pages/en/utol/lecturers/settings/user_groups/selected_ug.png
  src/pages/en/utol/lecturers/settings/user_groups/sidebar.png
  src/pages/en/utol/lecturers/settings/user_groups/sidebar_ug.png
  src/pages/en/utol/lecturers/settings/user_groups/ug_manage_plus.png
  src/pages/en/utol/lecturers/settings/user_groups/ug_manage_whole.png
Labels: utol

#1400 Add UTOL Slack Integration for lecturers
  src/pages/utol/lecturers/integrations/slack/create-workspace.png
  src/pages/utol/lecturers/integrations/slack/index.md
  src/pages/utol/lecturers/integrations/slack/integration.png
  src/pages/utol/lecturers/integrations/slack/login.png
Labels: utol

#1410 Add UTOL Slack Integration for students
  src/pages/slack/index.mdx
  src/pages/utol/students/integrations/slack/index.md
  src/pages/utol/students/integrations/slack/slack-login.png
  src/pages/utol/students/integrations/slack/utol-slack_integration.png
Labels: utol

#1541 add `/eccs/overview/facilities/asano-reservation`
  src/pages/eccs/overview/facilities/asano-reservation.mdx
  src/pages/eccs/overview/facilities/index.mdx
Labels: www.ecc

#1580 add `/notice/2025/0619-utol-lti-slack.md`
  src/data/notice.yml
  src/pages/notice/2025/0620-utol-lti-slack.md
Labels: utol

#1555 UTOLで外部ツールとの連携機能を利用する(教員・TA向け)ページ新規作成
  src/pages/utol/lecturers/integrations/index.mdx
  src/pages/utol/lecturers/integrations/utol_lti_setting_1.png
  src/pages/utol/lecturers/integrations/utol_lti_setting_2.png
Labels: utol
