Repository utelecon/utelecon.github.io, pull requests merged in 2025-02, with the labels that each got.

#1379 Add /en/utol/markup/
  src/pages/en/utol/markup/_icons/add-indent.png
  src/pages/en/utol/markup/_icons/background-color.png
  src/pages/en/utol/markup/_icons/bold.png
  src/pages/en/utol/markup/_icons/code.png
  src/pages/en/utol/markup/_icons/color.png
  src/pages/en/utol/markup/_icons/delete.png
  src/pages/en/utol/markup/_icons/formula.png
  src/pages/en/utol/markup/_icons/h1h2.png
  src/pages/en/utol/markup/_icons/italic.png
  src/pages/en/utol/markup/_icons/link.png
  src/pages/en/utol/markup/_icons/ol.png
  src/pages/en/utol/markup/_icons/quote.png
  src/pages/en/utol/markup/_icons/remove-indent.png
  src/pages/en/utol/markup/_icons/strikethrough.png
  src/pages/en/utol/markup/_icons/subscript.png
  src/pages/en/utol/markup/_icons/superscript.png
  src/pages/en/utol/markup/_icons/text-align.png
  src/pages/en/utol/markup/_icons/ul.png
  src/pages/en/utol/markup/_icons/underline.png
  src/pages/en/utol/markup/code-sample.png
  src/pages/en/utol/markup/colors.png
  src/pages/en/utol/markup/font-family-dropdown.png
  src/pages/en/utol/markup/font-family-sample.png
  src/pages/en/utol/markup/font-size-dropdown.png
  src/pages/en/utol/markup/formula-sample-after.png
  src/pages/en/utol/markup/formula-sample-before.png
  src/pages/en/utol/markup/heading-dropdown.png
  src/pages/en/utol/markup/heading-sample.png
  src/pages/en/utol/markup/index.mdx
  src/pages/en/utol/markup/ol-sample.png
  src/pages/en/utol/markup/quote-sample.png
  src/pages/en/utol/markup/sample.png
  src/pages/en/utol/markup/text-align-dropdown.png
  src/pages/en/utol/markup/textarea-with-toolbar.png
  src/pages/en/utol/markup/textarea-without-toolbar.png
  src/pages/en/utol/markup/ul-sample.png
Labels: utol

#1351 Fix Information Ja content (position of paren)
  src/pages/utol/lecturers/information/index.mdx
Labels: utol

#1399 Move /utol/lti to /utol/integrations
  src/pages/utol/lecturers/integrations/index.mdx
  src/pages/utol/lecturers/integrations/zoom/index.md
  src/pages/utol/lecturers/integrations/zoom/utol_lti.png
  src/pages/utol/lecturers/integrations/zoom/utol_lti_setting.png
  src/pages/utol/lecturers/integrations/zoom/utol_menu.png
  src/pages/utol/lecturers/integrations/zoom/zoom_cloud_recording.png
  src/pages/utol/lecturers/integrations/zoom/zoom_cloud_recording_detail.png
  src/pages/utol/lecturers/integrations/zoom/zoom_meeting_report.png
  src/pages/utol/lecturers/integrations/zoom/zoom_next_meeting.png
  src/pages/utol/lecturers/integrations/zoom/zoom_next_meeting_save.png
  src/pages/utol/lecturers/integrations/zoom/zoom_next_meeting_start.png
  src/pages/utol/lecturers/integrations/zoom/zoom_past_meeting_report.png
  src/pages/utol/students/integrations/index.mdx
  src/pages/utol/students/integrations/zoom/index.md
  src/pages/utol/students/integrations/zoom/utol_lti.png
  src/pages/utol/students/integrations/zoom/zoom_cloud_recording.png
  src/pages/utol/students/integrations/zoom/zoom_cloud_recording_detail.png
  src/pages/utol/students/integrations/zoom/zoom_next_meeting_join.png
Labels: utol

#1406 Utol assignments caution
  src/pages/en/utol/students/index.mdx
  src/pages/utol/students/index.mdx
Labels: utol

#1350 UTOL-en Using quiz function for Instructors and TAs
  src/pages/en/utol/lecturers/quizzes/create-add-template.drawio.png
  src/pages/en/utol/lecturers/quizzes/create-create-problem.drawio.png
  src/pages/en/utol/lecturers/quizzes/create-edit-template.drawio.png
  src/pages/en/utol/lecturers/quizzes/create-general-settings-1.png
  src/pages/en/utol/lecturers/quizzes/create-general-settings-2.png
  src/pages/en/utol/lecturers/quizzes/create-general-settings-3.png
  src/pages/en/utol/lecturers/quizzes/create-problem-settings.png
  src/pages/en/utol/lecturers/quizzes/create-simulate.drawio.png
  src/pages/en/utol/lecturers/quizzes/create-video-view.png
  src/pages/en/utol/lecturers/quizzes/create-waiting-time-view.png
  src/pages/en/utol/lecturers/quizzes/create.mdx
  src/pages/en/utol/lecturers/quizzes/grade-add-feedback.drawio.png
  src/pages/en/utol/lecturers/quizzes/grade-check-all-submissions-by-person.png
  src/pages/en/utol/lecturers/quizzes/grade-check-all-submissions-view.png
  src/pages/en/utol/lecturers/quizzes/grade-check-all-submissions.drawio.png
  src/pages/en/utol/lecturers/quizzes/grade-check-submissions.drawio.png
  src/pages/en/utol/lecturers/quizzes/grade-download-files.drawio.png
  src/pages/en/utol/lecturers/quizzes/grade-see-submissions.png
  src/pages/en/utol/lecturers/quizzes/grade_and_evaluate.mdx
  src/pages/en/utol/lecturers/quizzes/index.mdx
Labels: utol

#1396 英語ページの動線改善
  src/layouts/Header/index.astro
Labels: web-development

#1348 add /eccs/
  src/pages/eccs/index.mdx
Labels: www.ecc

#1427 fix `/utol/lecturers/attendances/`
  src/pages/utol/lecturers/attendances/index.mdx
Labels: utol
