Repository utelecon/utelecon.github.io, pull requests merged in 2025-08, with the labels that each got.

#1616 add links to lti pages
  src/pages/utol/index.mdx
Labels: utol

#1605 依存関係の更新
  package-lock.json
  package.json
  scripts/prediff/index.js
  src/lib/CollectHtmlImagesPlugin.ts
  src/lib/ignoreassets/index.ts
Labels: web-development

#1617 fix `/utol/lecturers/surveys/result/`
  src/pages/utol/lecturers/surveys/result.mdx
Labels: utol

#1612 Add 2025a rikaku notice
  src/data/notice.yml
  src/pages/en/notice/2025/0821-utol-2025a-rikaku.md
  src/pages/notice/2025/0821-utol-2025a-rikaku.md
Labels: utol

#1623 Using survey function in UTOL (for Course Instructors / TAs) ページ新規作成
  src/pages/en/utol/lecturers/surveys/index.mdx
Labels: utol

#1524 20250418 zoom/edit meeting
  src/pages/zoom/misc/edit_meeting/1.png
  src/pages/zoom/misc/edit_meeting/2.png
  src/pages/zoom/misc/edit_meeting/3.png
  src/pages/zoom/misc/edit_meeting/delete-recent.png
  src/pages/zoom/misc/edit_meeting/delete-recover.png
  src/pages/zoom/misc/edit_meeting/delete.png
  src/pages/zoom/misc/edit_meeting/edit-app.png
  src/pages/zoom/misc/edit_meeting/edit-bulk.png
  src/pages/zoom/misc/edit_meeting/edit.png
  src/pages/zoom/misc/edit_meeting/how-to-enter-delete.png
  src/pages/zoom/misc/edit_meeting/how-to-enter-edit.png
  src/pages/zoom/misc/edit_meeting/how-to-enter-manage.png
  src/pages/zoom/misc/edit_meeting/index.md
  src/pages/zoom/misc/edit_meeting/manage.png
Labels: contents-create
