Repository utelecon/utelecon.github.io, pull requests merged in 2025-03, with the labels that each got.

#1397 add `/en/utol/lecturers/settings/course_group/`
  src/pages/en/utol/lecturers/settings/course_group/explain.drawio.png
  src/pages/en/utol/lecturers/settings/course_group/index.md
  src/pages/en/utol/lecturers/settings/course_group/index.mdx
  src/pages/en/utol/lecturers/settings/course_group/menu1.png
  src/pages/en/utol/lecturers/settings/course_group/menu2.png
  src/pages/en/utol/lecturers/settings/course_group/reg.png
  src/pages/en/utol/lecturers/settings/course_group/remove.png
  src/pages/en/utol/lecturers/settings/course_group/unreg.png
Labels: utol

#1443 Replace links to utol lti pages
  src/pages/notice/2024/1115-utol-lti-zoom.md
  src/pages/utol/lecturers/integrations/zoom/index.md
Labels: utol

#1085 Fix /utol/lecturers/settings
  src/pages/utol/lecturers/settings/index.mdx
Labels: utol

#1453 `src/pages/eccs/misc/index.mdx` の修正
  src/pages/eccs/misc/index.mdx
Labels: www.ecc

#1274 add /eccs/overview/facilities/
  src/pages/eccs/overview/facilities/index.mdx
Labels: www.ecc

#1414 add `/eccs/defects/20161115-spotlight`
  src/pages/eccs/defects/20161115-spotlight.md
Labels: www.ecc

#1202 Add: /eccs/defects/
  src/pages/eccs/defects/index.mdx
Labels: www.ecc

#1464 情報システム一覧へのリンクを追加
  src/pages/index.mdx
  src/styles/top.scss
Labels: web-development

#1457 add: icons or logos to cards
  src/pages/_icons/google.png
  src/pages/_icons/microsoft.png
  src/pages/_icons/slack.png
  src/pages/_icons/utas.png
  src/pages/_icons/utol.png
  src/pages/_icons/zoom.png
  src/pages/index.mdx
  src/styles/top.scss
Labels: web-development

#1454 add placeholder
  src/components/en/InPreparation.mdx
  src/pages/en/eccs/chromeos/index.mdx
  src/pages/en/eccs/defects/20180615-nfs-unicode-normalization.mdx
  src/pages/en/eccs/defects/20210302-mac-settings.mdx
  src/pages/en/eccs/defects/20221130-osaka-monospace.mdx
  src/pages/en/eccs/defects/20230418-vscode-extension.mdx
  src/pages/en/eccs/defects/index.mdx
  src/pages/en/eccs/features/byod/index.mdx
  src/pages/en/eccs/features/printing/index.mdx
  src/pages/en/eccs/features/printing/ipp-windows/index.mdx
  src/pages/en/eccs/features/printing/web-upload.mdx
  src/pages/en/eccs/features/ras/index.mdx
  src/pages/en/eccs/features/software/apple.mdx
  src/pages/en/eccs/features/software/fusion/index.mdx
  src/pages/en/eccs/features/software/google-drive.mdx
  src/pages/en/eccs/features/software/index.mdx
  src/pages/en/eccs/features/software/office/index.mdx
  src/pages/en/eccs/features/software/python-lib.mdx
  src/pages/en/eccs/features/software/visual-studio/index.mdx
  src/pages/en/eccs/features/ssh/index.mdx
  src/pages/en/eccs/features/webdav/index.mdx
  src/pages/en/eccs/misc/dotfiles.mdx
  src/pages/en/eccs/misc/index.mdx
  src/pages/en/eccs/misc/keychain/index.mdx
  src/pages/en/eccs/misc/lock/index.mdx
  src/pages/en/eccs/misc/mac-dock-icon.mdx
  src/pages/en/eccs/misc/mac-initialize-profile.mdx
  src/pages/en/eccs/misc/monitor-brightness.mdx
  src/pages/en/eccs/misc/online-meeting.mdx
  src/pages/en/eccs/misc/restore-file.mdx
  src/pages/en/eccs/misc/temporary-account.mdx
  src/pages/en/eccs/overview/facilities/index.mdx
  src/pages/en/eccs/overview/guest-account/index.mdx
  src/pages/en/eccs/overview/precautions/index.mdx
  src/pages/en/eccs/overview/spec/index.mdx
  src/pages/en/eccs/overview/usage-mac/index.mdx
  src/pages/en/eccs/overview/usage-windows/index.mdx
  src/pages/en/eccs/support/index.mdx
  src/pages/en/eccs/tutors.mdx
  src/pages/en/eccs/userguide/index.mdx
Labels: www.ecc

#1484 Update line notification in UTOL
  src/pages/utol/notification/index.mdx
  src/pages/utol/notification/line-add-friend-button.drawio.png
  src/pages/utol/notification/line-add-friend-qr.drawio.png
  src/pages/utol/notification/line-add-friend.drawio.png
  src/pages/utol/notification/line-auth-code.png
  src/pages/utol/notification/line-block.drawio.png
  src/pages/utol/notification/line-delete.drawio.png
  src/pages/utol/notification/line-desktop-login.png
  src/pages/utol/notification/line-integration-success.png
  src/pages/utol/notification/line-link-confirm.png
  src/pages/utol/notification/line-link.drawio.png
  src/pages/utol/notification/line-reissue.png
  src/pages/utol/notification/line-select-room.png
  src/pages/utol/notification/line-start.png
  src/pages/utol/notification/line-stop-confirm.png
  src/pages/utol/notification/line-stop.png
  src/pages/utol/notification/line-talk-button.drawio.png
Labels: utol

#1496 utol: LINE通知の変更
  src/data/notice.yml
  src/pages/notice/2025/0326-utol-notification-line.md
  src/pages/utol/notification/index.mdx
Labels: utol

#1338 update /google/
  src/pages/google/classroom/index.mdx
  src/pages/google/index.mdx
Labels: www.ecc

#1272 Add: /google/group/
  src/pages/google/group/all-groups.jpg
  src/pages/google/group/create-group1.jpg
  src/pages/google/group/create-group2.jpg
  src/pages/google/group/create-group3.jpg
  src/pages/google/group/index.mdx
  src/pages/google/group/launch.png
  src/pages/google/group/my-groups.jpg
Labels: www.ecc

#1155 Add /eccs/overview/usage-mac
  src/pages/eccs/overview/usage-mac/change-language-dialog.png
  src/pages/eccs/overview/usage-mac/change-to-english.png
  src/pages/eccs/overview/usage-mac/dock-settings-icon.png
  src/pages/eccs/overview/usage-mac/index.mdx
  src/pages/eccs/overview/usage-mac/input-icon.png
  src/pages/eccs/overview/usage-mac/input-menu.png
  src/pages/eccs/overview/usage-mac/login-button.png
  src/pages/eccs/overview/usage-mac/login.jpg
  src/pages/eccs/overview/usage-mac/refind-mac.jpg
  src/pages/eccs/overview/usage-mac/settings-mouse.png
  src/pages/eccs/overview/usage-mac/shutdown.png
Labels: www.ecc

#1227 add `/google/misc/name/`
  src/pages/google/index.mdx
  src/pages/google/misc/name/chat-system-name.png
  src/pages/google/misc/name/confirm.png
  src/pages/google/misc/name/index.mdx
  src/pages/google/misc/name/input-name.png
  src/pages/google/misc/name/open-setting.png
  src/pages/google/misc/name/settings-personal-info-2.png
  src/pages/google/misc/name/settings-personal-info.png
  src/pages/google/misc/name/settings-profile.png
Labels: www.ecc

#1319 Add /eccs/features/ras
  src/pages/eccs/features/ras/apply-for-ras.drawio.png
  src/pages/eccs/features/ras/index.mdx
  src/pages/eccs/features/ras/mac-signin.png
  src/pages/eccs/features/ras/ras-application-page.drawio.png
  src/pages/eccs/features/ras/select-computer.png
  src/pages/eccs/features/ras/splashtop-login.png
  src/pages/eccs/features/ras/webdav-remove-keychains.drawio.png
Labels: www.ecc

#1153 Add /eccs/overview/spec
  src/pages/eccs/overview/spec/eccs-portal-usage.jpg
  src/pages/eccs/overview/spec/imac-power-button.jpg
  src/pages/eccs/overview/spec/index.mdx
  src/pages/eccs/overview/spec/keyboard.jpg
  src/pages/eccs/overview/spec/mac-mini-power-button.jpg
  src/pages/eccs/overview/spec/ports.jpg
Labels: www.ecc

#1205 Add: /google/misc/
  src/pages/google/misc/index.mdx
Labels: www.ecc

#1280 add /eccs/features/printing/ and etc.
  src/pages/eccs/defects/20230322-mac-ondemand-print.md
  src/pages/eccs/defects/img/20230322-mac-preset.png
  src/pages/eccs/defects/img/20230322-mac-word.png
  src/pages/eccs/features/printing/index.mdx
  src/pages/eccs/features/printing/printer-charging.jpg
  src/pages/eccs/features/printing/printer-main.jpg
Labels: www.ecc

#1451 add `/en/eccs/overview/right-application/`
  src/pages/en/eccs/overview/right-application/index.md
Labels: www.ecc

#1468 UTOL-En Using the Attendance Function in UTOL (for Course Instructors and TAs)
  src/pages/en/utol/lecturers/attendances/_attendance_management_settings.mdx
  src/pages/en/utol/lecturers/attendances/img/attcheck.png
  src/pages/en/utol/lecturers/attendances/img/attcheck_DL_ch.drawio.png
  src/pages/en/utol/lecturers/attendances/img/attcheck_DL_ed.png
  src/pages/en/utol/lecturers/attendances/img/attcheck_DL_pw.png
  src/pages/en/utol/lecturers/attendances/img/attcheck_UL_ed.drawio.png
  src/pages/en/utol/lecturers/attendances/img/attcheck_UL_li.drawio.png
  src/pages/en/utol/lecturers/attendances/img/attcheck_UL_pw.png
  src/pages/en/utol/lecturers/attendances/img/attform.drawio.png
  src/pages/en/utol/lecturers/attendances/img/attman.drawio.png
  src/pages/en/utol/lecturers/attendances/img/attmanmenu-lecturer.drawio.png
  src/pages/en/utol/lecturers/attendances/img/attmanmenu-system.drawio.png
  src/pages/en/utol/lecturers/attendances/img/attmanmenu2.drawio.png
  src/pages/en/utol/lecturers/attendances/img/attmanmenu3.drawio.png
  src/pages/en/utol/lecturers/attendances/img/dispattinfo.drawio.png
  src/pages/en/utol/lecturers/attendances/img/format.png
  src/pages/en/utol/lecturers/attendances/img/formatdownload.drawio.png
  src/pages/en/utol/lecturers/attendances/img/formatinput.png
  src/pages/en/utol/lecturers/attendances/img/formatupload.drawio.png
  src/pages/en/utol/lecturers/attendances/img/otp.drawio.png
  src/pages/en/utol/lecturers/attendances/img/otpin.png
  src/pages/en/utol/lecturers/attendances/img/settings.drawio.png
  src/pages/en/utol/lecturers/attendances/index.mdx
Labels: utol

#1465 add /utol/students/messages/
  src/pages/utol/students/messages/course-top.png
  src/pages/utol/students/messages/index.mdx
  src/pages/utol/students/messages/message-create.png
  src/pages/utol/students/messages/message-sending.png
  src/pages/utol/students/messages/message-status.png
  src/pages/utol/students/messages/message-title.png
  src/pages/utol/students/messages/message-to-enrolled-students.png
  src/pages/utol/students/messages/response-create.png
Labels: utol

#1481 add `/en/eccs/`
  src/pages/en/eccs/index.mdx
Labels: www.ecc

#1504 UTOL notification line fix
  src/pages/utol/notification/index.mdx
  src/pages/utol/notification/line-add-friend.drawio.png
  src/pages/utol/notification/line-block.drawio.png
  src/pages/utol/notification/line-delete.drawio.png
  src/pages/utol/notification/line-integration-success.png
  src/pages/utol/notification/line-link.drawio.png
  src/pages/utol/notification/line-reissue.png
  src/pages/utol/notification/line-talk-button.drawio.png
Labels: utol
