Repository utelecon/utelecon.github.io, pull requests merged in 2025-04, with the labels that each got.

#1495 notice: UTOLにおける時間割表とコーストップ画面の変更について
  src/data/notice.yml
  src/pages/notice/2025/0401-utol-change/course_top.png
  src/pages/notice/2025/0401-utol-change/index.md
  src/pages/notice/2025/0401-utol-change/timetable.png
  src/pages/utol/students/course_registration/index.md
Labels: utol

#1507 add `/en/notice/2025/0331-utol-2025s-rikaku`
  src/data/notice.yml
  src/pages/en/notice/2025/0331-utol-2025s-rikaku.md
Labels: utol

#1486 Update www.ecc links
  src/components/en/systems/eccs/Login.mdx
  src/components/ja/systems/eccs/Login.mdx
  src/pages/articles/google-groups/index.md
  src/pages/eccs/chromeos/index.md
  src/pages/en/articles/google-drive/index.md
  src/pages/en/google/drive/index.md
  src/pages/en/google/drive/shared_drive.md
  src/pages/google/assignments.md
  src/pages/google/drive/index.mdx
  src/pages/google/drive/shared_drive.md
  src/pages/google/drive/storage/index.md
  src/pages/index.mdx
  src/pages/utokyo_account/index.mdx
Labels: www.ecc

#1459 add: social links above footer
  src/layouts/Footer/SocialLinks.astro
  src/layouts/Footer/index.astro
  src/layouts/Footer/x_logo.png
  src/layouts/Footer/youtube_logo.png
Labels: web-development

#1513 Update links to www.ecc
  src/pages/eccs/features/software/index.mdx
  src/pages/en/faculty_members/index.mdx
  src/pages/en/index.mdx
  src/pages/google/index.mdx
Labels: www.ecc

#1239 update /zoom/usage/mic_cam/
  src/pages/zoom/usage/mic_cam/1_mic_menu.png
  src/pages/zoom/usage/mic_cam/2_cam_menu.png
  src/pages/zoom/usage/mic_cam/img/audio/details-meeting.png
  src/pages/zoom/usage/mic_cam/img/audio/details.png
  src/pages/zoom/usage/mic_cam/img/audio/join-by-pc.png
  src/pages/zoom/usage/mic_cam/img/audio/join-by-phone.png
  src/pages/zoom/usage/mic_cam/img/audio/mute-unmute.png
  src/pages/zoom/usage/mic_cam/img/audio/pc-audio-disconnect.png
  src/pages/zoom/usage/mic_cam/img/audio/phone-audio-disconnect.png
  src/pages/zoom/usage/mic_cam/img/audio/phone-audio-settings.png
  src/pages/zoom/usage/mic_cam/img/audio/select-mic-speakers.png
  src/pages/zoom/usage/mic_cam/img/audio/settings-audio.png
  src/pages/zoom/usage/mic_cam/img/audio/settings.png
  src/pages/zoom/usage/mic_cam/img/test/audio-join-by-pc.png
  src/pages/zoom/usage/mic_cam/img/test/mic-test.png
  src/pages/zoom/usage/mic_cam/img/test/speaker-test.png
  src/pages/zoom/usage/mic_cam/img/test/test-in-meeting.png
  src/pages/zoom/usage/mic_cam/img/video/pc-on-off.png
  src/pages/zoom/usage/mic_cam/img/video/pc-video-on.png
  src/pages/zoom/usage/mic_cam/img/video/phone-video-settings.png
  src/pages/zoom/usage/mic_cam/img/video/select-camera.png
  src/pages/zoom/usage/mic_cam/img/video/settings-video.png
  src/pages/zoom/usage/mic_cam/img/video/video-test.png
  src/pages/zoom/usage/mic_cam/index.mdx
Labels: contents-create

#1438 Zoomのアプリについての記事の編集
  src/pages/zoom/misc/app/ZoomApps_audio.PNG
  src/pages/zoom/misc/app/ZoomApps_changedevice.PNG
  src/pages/zoom/misc/app/ZoomApps_copylink.PNG
  src/pages/zoom/misc/app/ZoomApps_copylink_meetinginfo.png
  src/pages/zoom/misc/app/ZoomApps_download_mac.PNG
  src/pages/zoom/misc/app/ZoomApps_download_mobile.PNG
  src/pages/zoom/misc/app/ZoomApps_download_web.PNG
  src/pages/zoom/misc/app/ZoomApps_download_windows.PNG
  src/pages/zoom/misc/app/ZoomApps_installed.PNG
  src/pages/zoom/misc/app/ZoomApps_newmeeting.PNG
  src/pages/zoom/misc/app/ZoomApps_schedule.PNG
  src/pages/zoom/misc/app/ZoomApps_schedule_check.png
  src/pages/zoom/misc/app/ZoomApps_schedule_detail.png
  src/pages/zoom/misc/app/ZoomApps_schedule_invitation.PNG
  src/pages/zoom/misc/app/ZoomApps_schedule_remind.png
  src/pages/zoom/misc/app/ZoomApps_setting.PNG
  src/pages/zoom/misc/app/ZoomApps_updatable.PNG
  src/pages/zoom/misc/app/ZoomApps_updatecheck_1.png
  src/pages/zoom/misc/app/ZoomApps_updatecheck_2.PNG
  src/pages/zoom/misc/app/index.md
Labels: contents-create

#1494 add: `/zoom/usage/breakout/`
  src/pages/zoom/usage/breakout/1.png
  src/pages/zoom/usage/breakout/10.png
  src/pages/zoom/usage/breakout/11.png
  src/pages/zoom/usage/breakout/12.png
  src/pages/zoom/usage/breakout/15.png
  src/pages/zoom/usage/breakout/16.png
  src/pages/zoom/usage/breakout/17.png
  src/pages/zoom/usage/breakout/18.png
  src/pages/zoom/usage/breakout/19.png
  src/pages/zoom/usage/breakout/2.png
  src/pages/zoom/usage/breakout/3.png
  src/pages/zoom/usage/breakout/4.png
  src/pages/zoom/usage/breakout/5.png
  src/pages/zoom/usage/breakout/6.png
  src/pages/zoom/usage/breakout/7.png
  src/pages/zoom/usage/breakout/8.png
  src/pages/zoom/usage/breakout/9.png
  src/pages/zoom/usage/breakout/index.md
  src/pages/zoom/usage/breakout/index.mdx
  src/pages/zoom/usage/breakout/zoom_breakout_activation.png
  src/pages/zoom/usage/breakout/zoom_breakout_allocate_co_host.png
  src/pages/zoom/usage/breakout/zoom_breakout_allocate_empty-room.png
  src/pages/zoom/usage/breakout/zoom_breakout_allocate_manually.png
  src/pages/zoom/usage/breakout/zoom_breakout_allocate_randomly.png
  src/pages/zoom/usage/breakout/zoom_breakout_allocation_assign_number.png
  src/pages/zoom/usage/breakout/zoom_breakout_allocation_extra_room.png
  src/pages/zoom/usage/breakout/zoom_breakout_allocation_preloading_check.png
  src/pages/zoom/usage/breakout/zoom_breakout_allocation_preloading_choose_meeting.png
  src/pages/zoom/usage/breakout/zoom_breakout_coordination_exchange_participants.png
  src/pages/zoom/usage/breakout/zoom_breakout_coordination_move_participants.png
  src/pages/zoom/usage/breakout/zoom_breakout_coordination_window.png
  src/pages/zoom/usage/breakout/zoom_breakout_create_room.png
  src/pages/zoom/usage/breakout/zoom_breakout_host_allocate_unassigned_participants.png
  src/pages/zoom/usage/breakout/zoom_breakout_host_answer_help.png
  src/pages/zoom/usage/breakout/zoom_breakout_host_apply_saved_allocation.png
  src/pages/zoom/usage/breakout/zoom_breakout_host_deliver_text_message.png
  src/pages/zoom/usage/breakout/zoom_breakout_host_deliver_voice_message.png
  src/pages/zoom/usage/breakout/zoom_breakout_host_join_room.png
  src/pages/zoom/usage/breakout/zoom_breakout_host_manage_saved_allocation.png
  src/pages/zoom/usage/breakout/zoom_breakout_host_save_allocation_button.png
  src/pages/zoom/usage/breakout/zoom_breakout_host_save_allocation_naming.png
  src/pages/zoom/usage/breakout/zoom_breakout_host_share_screen.png
  src/pages/zoom/usage/breakout/zoom_breakout_host_unassigned_badge.png
  src/pages/zoom/usage/breakout/zoom_breakout_icon_breakout_room.png
  src/pages/zoom/usage/breakout/zoom_breakout_option_list.png
  src/pages/zoom/usage/breakout/zoom_breakout_option_mac.png
  src/pages/zoom/usage/breakout/zoom_breakout_option_windows.png
  src/pages/zoom/usage/breakout/zoom_breakout_participants_help_button.png
  src/pages/zoom/usage/breakout/zoom_breakout_participants_help_window.png
  src/pages/zoom/usage/breakout/zoom_breakout_participants_join.png
  src/pages/zoom/usage/breakout/zoom_breakout_participants_recording_co_host.png
  src/pages/zoom/usage/breakout/zoom_breakout_start_session.png
Labels: contents-create
