Repository utelecon/utelecon.github.io, pull requests merged in 2025-05, with the labels that each got.

#1539 fix: GoogleAnalytics
  astro.config.ts
  package-lock.json
  package.json
  src/layouts/GoogleAnalytics.astro
  src/layouts/Layout.astro
Labels: web-development

#1540 fix /utol/notification/
  src/pages/utol/notification/index.mdx
Labels: utol

#1543 Add ECCS and research computing sections to sitemap
  src/data/sitemapSections.ts
Labels: web-development, www.ecc

#1542 /google/calendar/collab/
  src/pages/google/calendar/collab/index.mdx
  src/pages/google/index.mdx
  src/pages/index.mdx
Labels: contents-create

#1551 20250509 eccs sequoia15.3.2 glitch
  src/pages/eccs/defects/20250509-eccs-Sequoia15.3.2-glitch.md
  src/pages/eccs/defects/index.mdx
Labels: www.ecc

#1412 add `/eccs/defects/20161115-mailapp-storage-overflow`
  src/pages/eccs/defects/20161115-mailapp-storage-overflow.mdx
Labels: www.ecc

#1565 Add email troubleshooting
  src/pages/utol/notification/index.mdx
Labels: utol

#1366 Astro v5
  package-lock.json
  package.json
  src/components/en/systems/utokyo_account/ChangePassword.mdx
  src/components/ja/systems/utokyo_account/ChangePassword.mdx
  src/layouts/Layout.astro
  src/lib/AssetFileNames.ts
  src/lib/CollectHtmlImagesPlugin.ts
  src/lib/CopyAssetIntegration.ts
  src/lib/DefaultFrontmatterPlugin.ts
  src/pages/microsoft/onedrive/_ReceiveFiles.mdx
  src/styles/main.scss
Labels: web-development
