Repository utelecon/utelecon.github.io, pull requests merged in 2025-01, with the labels that each got.

#1349 Update: `/utol/lecturers/assignments`
  src/pages/utol/lecturers/assignments/08-submission-status-all-table.png
  src/pages/utol/lecturers/assignments/09-submission-status-all-per-user.png
  src/pages/utol/lecturers/assignments/index.mdx
Labels: utol

#1336 add: `/en/utol/lecturers/assignments/`
  src/pages/en/utol/lecturers/_displaylabel/DisplayLabel.mdx
  src/pages/en/utol/lecturers/_displaylabel/configure.png
  src/pages/en/utol/lecturers/_displaylabel/course-top-dropdown.png
  src/pages/en/utol/lecturers/assignments/01-settings-01.png
  src/pages/en/utol/lecturers/assignments/02-settings-02.png
  src/pages/en/utol/lecturers/assignments/03-settings-entry.png
  src/pages/en/utol/lecturers/assignments/04-settings-confirm.png
  src/pages/en/utol/lecturers/assignments/05-edit-entry.drawio.png
  src/pages/en/utol/lecturers/assignments/06-delete.png
  src/pages/en/utol/lecturers/assignments/07-submission-status-all-entry.png
  src/pages/en/utol/lecturers/assignments/08-submission-status-all-table.png
  src/pages/en/utol/lecturers/assignments/09-submission-status-all-per-user.png
  src/pages/en/utol/lecturers/assignments/10-submission-status-per-assignment-entry.png
  src/pages/en/utol/lecturers/assignments/11-submission-status-per-assignment-table.png
  src/pages/en/utol/lecturers/assignments/12-evaluate-on-utol.png
  src/pages/en/utol/lecturers/assignments/index.mdx
Labels: utol

#1362 Add printing css
  src/layouts/Footer/index.astro
  src/layouts/Header/index.astro
  src/layouts/Toc.astro
  src/styles/layout.scss
  src/styles/printing.scss
Labels: web-development

#1363 Update course application form url
  src/pages/en/utol/lecturers/index.mdx
  src/pages/utol/lecturers/index.mdx
Labels: utol

#1234 UTOL-en Information Notices function for Instructors and TAs
  src/pages/en/utol/lecturers/information/check.drawio.png
  src/pages/en/utol/lecturers/information/index.mdx
  src/pages/en/utol/lecturers/information/information_manage.drawio.png
  src/pages/en/utol/lecturers/information/manage_title.drawio.png
  src/pages/en/utol/lecturers/information/register_manage.drawio.png
  src/pages/en/utol/lecturers/information/register_top.drawio.png
  src/pages/en/utol/lecturers/information/reminder_top.drawio.png
  src/pages/en/utol/lecturers/information/template_list.drawio.png
  src/pages/en/utol/lecturers/information/template_register.drawio.png
  src/pages/en/utol/lecturers/information/top_title.drawio.png
Labels: utol

#1358 En 1025 utol rikaku notice
  src/data/notice.yml
  src/pages/en/notice/2024/1025-utol-rikaku.md
Labels: utol

#1067 Add /eccs/features/software/python-lib
  src/pages/eccs/features/software/python-lib.md
Labels: www.ecc

#1091 Add /eccs/misc/mac-dock-icon
  src/pages/eccs/misc/mac-dock-icon.md
Labels: www.ecc

#1055 Add /eccs/features/printing/ipp-windows
  src/pages/eccs/features/printing/ipp-windows/_add_printer.mdx
  src/pages/eccs/features/printing/ipp-windows/f1.png
  src/pages/eccs/features/printing/ipp-windows/f10.png
  src/pages/eccs/features/printing/ipp-windows/f11.png
  src/pages/eccs/features/printing/ipp-windows/f12.png
  src/pages/eccs/features/printing/ipp-windows/f13.png
  src/pages/eccs/features/printing/ipp-windows/f14.png
  src/pages/eccs/features/printing/ipp-windows/f15.png
  src/pages/eccs/features/printing/ipp-windows/f16.png
  src/pages/eccs/features/printing/ipp-windows/f17.png
  src/pages/eccs/features/printing/ipp-windows/f2.png
  src/pages/eccs/features/printing/ipp-windows/f20.png
  src/pages/eccs/features/printing/ipp-windows/f21.png
  src/pages/eccs/features/printing/ipp-windows/f22.png
  src/pages/eccs/features/printing/ipp-windows/f23.png
  src/pages/eccs/features/printing/ipp-windows/f24.png
  src/pages/eccs/features/printing/ipp-windows/f25.png
  src/pages/eccs/features/printing/ipp-windows/f26.png
  src/pages/eccs/features/printing/ipp-windows/f3.png
  src/pages/eccs/features/printing/ipp-windows/f4.png
  src/pages/eccs/features/printing/ipp-windows/f5.png
  src/pages/eccs/features/printing/ipp-windows/f6.png
  src/pages/eccs/features/printing/ipp-windows/f7.png
  src/pages/eccs/features/printing/ipp-windows/f8.png
  src/pages/eccs/features/printing/ipp-windows/f9.png
  src/pages/eccs/features/printing/ipp-windows/index.mdx
Labels: www.ecc

#1345 add /eccs/misc
  src/pages/eccs/misc/index.mdx
Labels: www.ecc

#1290 Add: /eccs/overview/usage-windows/
  src/pages/eccs/overview/usage-windows/change-language-dialog.png
  src/pages/eccs/overview/usage-windows/change-to-english.png
  src/pages/eccs/overview/usage-windows/index.mdx
  src/pages/eccs/overview/usage-windows/input-icon.png
  src/pages/eccs/overview/usage-windows/input-menu.png
  src/pages/eccs/overview/usage-windows/login-incorrect.jpg
  src/pages/eccs/overview/usage-windows/login.jpg
  src/pages/eccs/overview/usage-windows/refind-windows.jpg
  src/pages/eccs/overview/usage-windows/shutdown.png
  src/pages/eccs/overview/usage-windows/start-menu.png
Labels: www.ecc

#1237 Add: /eccs/overview/guest-account/
  src/pages/eccs/overview/guest-account/index.mdx
  src/pages/eccs/overview/guest-account/newuser-login.png
  src/pages/eccs/overview/guest-account/newuser-toppage.png
  src/pages/utokyo_account/index.mdx
Labels: www.ecc

#1096 Add /eccs/misc/restore-file
  src/pages/eccs/misc/restore-file.md
Labels: www.ecc

#1082 add /google/group/mail_sender
  src/pages/google/group/mail_sender/groups01.png
  src/pages/google/group/mail_sender/groups02a.png
  src/pages/google/group/mail_sender/groups03.png
  src/pages/google/group/mail_sender/groups04.png
  src/pages/google/group/mail_sender/groups05.png
  src/pages/google/group/mail_sender/groups06.png
  src/pages/google/group/mail_sender/groups07.png
  src/pages/google/group/mail_sender/groups08.png
  src/pages/google/group/mail_sender/groups09.png
  src/pages/google/group/mail_sender/groups10.png
  src/pages/google/group/mail_sender/groups11.png
  src/pages/google/group/mail_sender/groups12.png
  src/pages/google/group/mail_sender/groups13.png
  src/pages/google/group/mail_sender/groups14.png
  src/pages/google/group/mail_sender/groups15.png
  src/pages/google/group/mail_sender/index.md
Labels: www.ecc

#1344 add /google/gemini and etc.
  src/pages/google/gemini.md
  src/pages/online/topics/generative-ai.md
Labels: www.ecc

#1269 add /eccs/userguide/
  src/pages/eccs/userguide/index.mdx
Labels: www.ecc

#1326 add `/eccs/misc/lock/`
  src/pages/eccs/misc/lock/index.md
  src/pages/eccs/misc/lock/index.mdx
  src/pages/eccs/misc/lock/mac_lock.png
  src/pages/eccs/misc/lock/windows_lock.png
Labels: www.ecc

#1244 Add /eccs/overview/right-application
  src/pages/eccs/overview/right-application/index.md
  src/pages/eccs/overview/right-application/index.mdx
Labels: www.ecc

#1204 Add: /eccs/features/byod
  src/pages/eccs/features/byod/cables.jpg
  src/pages/eccs/features/byod/example.jpg
  src/pages/eccs/features/byod/index.mdx
Labels: www.ecc

#1226 add `google/misc/education-plus`
  src/pages/google/meet/index.md
  src/pages/google/misc/education-plus/activity_button.png
  src/pages/google/misc/education-plus/granted.png
  src/pages/google/misc/education-plus/index.md
  src/pages/google/misc/education-plus/index.mdx
  src/pages/google/misc/education-plus/ungranted.png
Labels: www.ecc

#1137 Add /eccs/features/software/office
  src/pages/eccs/features/software/office/index.mdx
  src/pages/eccs/features/software/office/mac-onedrive.png
  src/pages/eccs/features/software/office/mac-signin.png
  src/pages/eccs/features/software/office/mac-start-signin.png
  src/pages/eccs/features/software/office/windows-licensing.png
  src/pages/eccs/features/software/office/windows-onedrive.png
  src/pages/eccs/features/software/office/windows-ready.png
  src/pages/eccs/features/software/office/windows-signin.png
  src/pages/eccs/features/software/office/windows-start-signin.png
  src/pages/eccs/features/software/office/windows-stay-signed-in.png
  src/pages/eccs/features/software/office/windows-warning.png
Labels: www.ecc
